# Vite build output
dist

# Node modules
node_modules

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env files
.env
.env.*.local

# System files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/

# Optional cache
.cache/
.next/
out/
